*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --padding-container: 10px 0;
}

.container{
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding:var(--padding-container);
}
.hero{
    min-height: 100hv;
    position: relative;
}

.hero__nav{
    display: flex; /* para que los elementos se pongan al lado del otro */
    justify-content: space-between; /* que se peguen a las esquinas */
    align-items: center; /* que se centren verticalmente */
}

.hero__logo{
    width: 45%;
    max-width: 160px;
    min-width: 100px;
}

.logo{
    width: 100%;
    display: block; /* para quitar el margen que tienen x defecto las imagenes */
}

.hero__cta{
    color: darkblue;
    text-decoration: none;
    font-weight: 600;
}